/*
 * Feuille de style de mon magnifique site Web
 * Par iGor
 */


/* ----------------------------
 *            En-tête
 * ---------------------------- */

#logo {
	width: 6em;
	border: none;
	border-radius: 0px;
	float: left;
}

#entete {
	max-width: 90%;	
	margin: 2em auto;
}


/* ----------------------------
 *     Partie principale      
 * ---------------------------- */

img {
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	width: 100%;
	max-width: 600px;
}

a.externe {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url(../images/lien-externe.svg);
	background-size: 8px;
	padding-right: 10px;
}

/* ----------------------------
 *         Pied de page       
 * ---------------------------- */

footer {
	text-align: center;
}
